<ion-content class="menu">
  <div class="overlay" (click)="dismiss()"></div>
  <div class="menu-body {{ menuClass }}">
    <div class="menu-content">
      <ion-list>
        <ion-item>
          <ion-avatar item-start *ngIf="item.start">
            <img src="{{ item.start }}">
          </ion-avatar>
          <h2>{{ item.center }}</h2>
          <p *ngIf="item.end" item-end>{{ item.end }}</p>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of menu" (click)="action(item)" class="{{ item.class }}">
            <ion-card>
              <ion-card-content>
                <small>{{ item.title }}</small>
                <h2>
                  <ion-icon name="{{ item.icon }}"></ion-icon>
                </h2>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
