.ios, .md, .wp {
	page-avaliacao-form {
		ion-list {
			background-color: rgba(map-get($colors, dark), 0.9);
			margin-top: -15px;
			&:first-of-type {
				margin: 0 auto;
				width: 80%;
			}
			ion-item {
				background-color: map-get($colors, darklight);
				color: map-get($colors, secondary);
				margin-bottom: 10px;
				font-size: 1.4rem;
				padding-left: 20px;
				border-radius: 20px;
				&:first-child {
					border-top: 0;
				}
				&.item-block {
					.item-inner {
						border-bottom: 0;
					}
					&:first-child {
						border-top: none;
					}
					&:last-child {
						border-bottom: 1px solid darken(map-get($colors, dark), 2%);
					}
				}
			}
			button {
				width: 60%;
			}
		}
	}
}
