.ios, .md, .wp {
  page-aluno {
    ion-list {
		  margin-bottom: 0;
		}
    .bar-buttons-ios {
      .btn-mensagem {
        ion-icon {
          font-size: 1.4em;
        }
      }
    }
		.btn-mensagem {
			ion-icon {
				font-size: 1.6em;
			}
		}
  }
}
