.ios, .md, .wp {
	.content {
		background-color: map-get($colors, dark);
	}
	.has-refresher {
		.scroll-content {
			border-top: none;
		}
	}
	.btn-circle {
		background-color: map-get($colors, dark);
		color: map-get($colors, light);
		border-radius: 50%;
		width: 35px;
		height: 35px;
	}
	.searchbar-input {
		background-color: map-get($colors, darklight);
		color: map-get($colors, light);
	}
	.modal-wrapper {
		background: rgba(0.5, 0.5, 0.5, 0.5) !important;
	}
}
