.ios, .md, .wp {
	page-aluno-treino-view {
		ion-buttons {
			button {
				ion-icon {
					font-size: 1.6em !important;
				}
			}
		}
		ion-list {
			margin-bottom: 0;
    	ion-item {
  			border-bottom: 1px solid darken(map-get($colors, dark), 2%);
      	color: lighten(map-get($colors, darklight), 18%);
      	font-size: 1.4rem;
				h2 {
					white-space: normal;
					margin-bottom: 10px;
				}
	    	&:nth-child(odd) {
      		background-color: map-get($colors, dark);
      	}
      	&:nth-child(even) {
        	background-color: map-get($colors, darklight);
      	}
    		&.item-block {
	        .item-inner {
	        	border-bottom: 0;
	        }
	        &:first-child {
	          border-top: 1px solid darken(map-get($colors, dark), 2%);
	        }
	        &:last-child {
	          border-bottom: 1px solid darken(map-get($colors, dark), 2%);
	        }
    		}
    	}
		}
		ion-card {
			background-color: map-get($colors, darklight);
			ion-card-content {
				p {
					color: lighten(map-get($colors, darklight), 18%);
				}
			}
			ion-item {
				background-color: map-get($colors, darklight);
				ion-label {
					h2 {
						color: map-get($colors, secondary) !important;
					}
					p {
						color: lighten(map-get($colors, darklight), 18%);
					}
				}
			}
		}
	}
}
