.ios, .md, .wp {
  list-ranking {
    ion-item-group {
      ion-item-divider, ion-item {
        border-bottom: 1px solid darken(map-get($colors, dark), 2%);
        color: lighten(map-get($colors, darklight), 18%);
        font-size: 1.4rem;
        &.item-block {
          .item-inner {
            border-bottom: 0;
          }
        }
        .item-inner {
          ion-icon {
            min-height: 2.2rem;
            font-size: 2.2rem;
          }
        }
      }
    }
    ion-item-divider {
      background-color: map-get($colors, dark);
    }
    ion-item {
      background-color: map-get($colors, darklight) !important;
    }
  }
}
