<ion-item-group *ngFor="let item of items; let i = index;" (click)="toggle(i)">
  <ion-item-divider color="light">
    <h2 item-start>{{ item.grupo }}</h2>
    <ion-icon *ngIf="!item.show" name="arrow-down" item-end></ion-icon>
  </ion-item-divider>
  <ng-container *ngIf="item.show">
    <ion-item *ngFor="let aluno of item.alunos">
      <ion-avatar item-start>
        <img-loader src="{{ aluno.img }}" useImg></img-loader>
      </ion-avatar>
      <h2>{{ aluno.nome }}</h2>
      <p item-end>{{ aluno.pontos }}</p>
    </ion-item>
  </ng-container>
</ion-item-group>
