<ion-header>
  <ion-navbar color="darklight">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <info [aluno]="aluno"></info>
  <ng-container *ngIf="!hasFocus">
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Pesquisar..."></ion-searchbar>
    <slides-treino-form [items]="filteredItems()" (click)="action($event)"></slides-treino-form>
  </ng-container>
  <ion-list>
    <form [formGroup]="form">
      <ion-item>
        <ion-icon item-left name="bookmark"></ion-icon>
        <ion-input #inp type="text" placeholder="Descrição" formControlName="descricao" (ionFocus)="hasFocus = true" (focusout)="hasFocus = false"></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <ion-list padding>
    <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
      <ion-item *ngFor="let exercicioSerie of treino?.exercicioSeries">
        <ion-thumbnail item-start (click)="action(exercicioSerie)">
          <img src="http://fit.nexur.com.br/exercicios/{{ exercicioSerie.id_exercicio }}-0.gif">
        </ion-thumbnail>
        <h2>{{ exercicioSerie?.idExercicio?.descricao_pt }}</h2>
        <p>{{ exercicioSerie?.idTipoRepeticao?.descricao }}</p>
        <p>Intervalo: {{ exercicioSerie?.intervalo }}s</p>
        <p>Carga: {{ exercicioSerie?.carga }}</p>
        <p *ngIf="exercicioSerie.nota">Nota: {{ exercicioSerie?.nota }}</p>
      </ion-item>
    </ion-item-group>
    <div text-center>
      <button ion-button color="secondary" round [disabled]="!form.value.descricao" (click)="methods(actionName, form.value)">
        SALVAR
      </button>
    </div>
  </ion-list>
</ion-content>
