<ion-header>
  <ion-navbar color="darklight">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <info [aluno]="aluno"></info>
  <slides-treino-form [items]="filteredItems()"></slides-treino-form>
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Pesquisar..."></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-icon item-left name="bookmark"></ion-icon>
      <ion-input type="text" placeholder="Descrição"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list padding>
    <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
      <ion-item *ngFor="let exercicio of treino?.exercicioSeries">
        <ion-thumbnail item-start>
          <img src="http://fit.nexur.com.br/exercicios/{{ exercicio.id_exercicio }}-0.gif">
        </ion-thumbnail>
        <h2>{{ exercicio.idExercicio.descricao_pt }}</h2>
        <p>{{ exercicio.idTipoRepeticao.descricao }}</p>
        <p>Intervalo: {{ exercicio.intervalo }}s</p>
        <p>Carga: {{ exercicio.carga }}</p>
        <p *ngIf="exercicio.nota">Nota: {{ exercicio.nota }}</p>
      </ion-item>
    </ion-item-group>
    <div text-center>
      <button ion-button color="secondary" round (click)="create()">
        SALVAR
      </button>
    </div>
  </ion-list>
</ion-content>
