.ios, .md, .wp {
  slides-avaliacao-form {
    ion-slides {
      height: 25%;
      margin-top: -20px;
      ion-card {
        background-color: map-get($colors, darklight) !important;
        margin: 0;
        text-align: center;
        width: 100%;
        h2 {
          color: map-get($colors, secondary) !important;
          font-size: 2.4rem;
        }
        small {
          color: lighten(map-get($colors, darklight) , 35%) !important;
          font-weight: 600;
        }
      }
      .swiper-pagination {
        bottom: 0px;
        top: auto;
        .swiper-pagination-progressbar {
          background: map-get($colors, darklight)
        }
      }
    }
  }
}
